@font-face {
    font-family: 'Floydian';
    src: url('Floydian.woff2') format('woff2'),
        url('Floydian.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
